<h1>Daily Cuteness<br /></h1>

<!--
<div class="[ card ]" *ngFor="let weather of weatherDetail">
      Sky Conditions: {{ weather.weather_state_name }}<br />
      Min Tempreture: {{ weather.min_temp }}<br />
      Max Tempreture: {{ weather.max_temp }}<br />
      Actual Tempreture: {{ weather.the_temp }}<br />
      Date Created: {{ weather.created }}<br />
      Humidity: {{ weather.humidity }}<br />
</div> 

-->
<div class="container">
      <div class="cerd">
            <h3>Random Dog</h3>
            <img src= {{dogService}} alt="Picture of Dog"> 
      </div>
      <div class="cerd">
                  <h3>Random Fox</h3>
                  <img src= {{foxService}} alt="picture of fox"> 
      </div>
      <div class="cerd">
                  <h3>Random Shibe</h3>
                  <img src= {{shibeService}} alt="picture of shibe"> 
      </div>
      <div class="cerd">
                  <h3>Random Cat Fact</h3>
                  <p>
                        {{catService}}
                  </p> 
      </div>
</div>
