/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
body{
    height: 100%;
    background: linear-gradient(to bottom right, rgb(30, 81, 139), rgb(124, 124, 116)) no-repeat center fixed;    
    background-size: cover;    
}